ul li a {
  transition: transform 0.5s;
  width: fit-content;
}

ul li a:hover {
  border-bottom: 1px solid red;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.dropdown-menu .dropdown-item {
  border-radius: 5px;
}
.dropdown-menu .dropdown-item:hover {
  border-bottom: 1px solid red;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.dropdown-menu .dropdown-item:active {
  background: none;
  margin-left: 1px !important;
  border-bottom: none;
  color: black;
}
.form-check-input,
.pointer {
  cursor: pointer;
}
.headigs {
  border-bottom: 2px solid red;
  width: fit-content;
}
.searchBtn {
  background: linear-gradient(5deg, #ed0b0b, transparent);
  border-radius: 5px;
  color: #ffff;
}
.addBtn {
  background: linear-gradient(5deg, blue, transparent);
  border-radius: 5px;
  color: #ffff;
}
.getbackBtn {
  background: linear-gradient(5deg, orange, transparent);
  border-radius: 5px;
  color: #ffff;
}
.btn-close {
  color: white !important;
  text-shadow: #ffff !important;
  background: #ffffff;
  font-size: xx-large;
}
.no-border a {
  text-decoration: none;
}

.b-border:hover {
  color: orange !important;
}

.b-border {
  display: inline-block;
  text-decoration: none;
}

.b-border::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.b-border:hover::after {
  width: 100%;
}

.signIn {
  width: 400px;
  padding: 20px;
  background: linear-gradient(#fcf4f4, #efe6e6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}
.signinBtn {
  background: linear-gradient(#0a52da, #2e3f5e);
  transition: transform 0.3s ease-out;
  width: 100%;
  color: #ffffff !important;
}

.signinBtn:active {
  background: linear-gradient(#07098b, #5c1596);
  transform: scale(0.9);
  color: #ffffff;
  width: 100%;
}
.min-vh-78{
  min-height: 78vh;
}
.navbar-brand img{
  filter: brightness(2.5);
}